@model GerenciadorDePoliticasDeCompliance.Web.Models.Politicas.ListaViewModel
@{
    ViewData["Title"] = "Detalhes";
}
@foreach (var item in Model.Politicas)
{
    <div id="page-news">
        <div class="container">
            <article>

                <input type="hidden" value="item.Id" />

                <div class="title_tratamento">

                    <h2>
                        @Html.DisplayFor(modelitem => item.Titulo)
                    </h2>
                </div>





                <div class="container container-md">
                    <div class="body-article">
                        <p>
                            @Html.DisplayFor(modelitem => item.Texto)
                        </p>
                    </div>
                </div>

            </article>

        </div>
        <form class="px-4 py-3">
            <a asp-action="Index" class="btn btn-primary">Retornar</a>

            <a href="/Politicas/edicao/@item.Id" class="btn btn-primary">Editar</a>
            <a href="/Funcionarios/Assinantes/@item.Id" class="btn btn-primary">Assinantes</a>
        </form>
    </div>
    <input type="hidden" asp-controller="Politicas" asp-action="deletar/@item.Id"  pattern="Deletar"/>


}


