@model GerenciadorDePoliticasDeCompliance.Web.Models.Politicas.ListaViewModel
@{
    ViewData["Title"] = "Políticas de Compiance";
}




<section>
    <section class="container-fluid col-xl-9 justify-content-center h-100 ">
        <section class="form-container shadow-lg" class="col-12 col-sm-6 col-md-3">
            <h1 class="text-center">@ViewData["Title"]</h1>
      
            <div >

                <table class="table table-striped table-hover ">
                    <thead>
                        @if (Model.Politicas.Count() == 0)
                        {
                            <h1>Não há políticas!!</h1>
                        }
                        else
                        {
                            <tr class="bg-dark col-lg-12">
                                <th>
                                    Título

                                </th>

                                <th>
                                    Data
                                </th>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>


                            @foreach (var item in Model.Politicas)
                            {
                                <tr>
                                    <td>
                                        <a href="/Politicas/Detalhes/@item.Id">
                                            @Html.DisplayFor(modelitem => item.Titulo)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelitem => item.Data)
                                    </td>
                                    <td>
                                        <a href="/Politicas/edicao/@item.Id" class="btn btn-primary">Editar</a>
                                    </td>
                                    <td>
                                        <a href="/Politicas/deletar/@item.Id" class="btn btn-danger">Deletar</a>
                                    </td>


                                </tr>
                            }
                        }

                    </thead>

                </table>
                <p><a asp-action="Formulario" class="btn btn-primary justify-content-between">Adicionar</a></p>
            </div>
            
        </section>
    </section>
</section>