@model GerenciadorDePoliticasDeCompliance.Web.Models.Login.LoginViewModel;
@{
    ViewData["Title"] = "Wiz";
}
<section>
    <section class="row justify-content-center ">
        <section class="form-container shadow-lg col-12 col-sm-6 col-md-3" style="border-radius:6px">
            <figure class="  mt-4 text-center ">
                <img src="~/imagens/sejavocenawiz-60x60.png" style="border-radius:6px" />
            </figure>
            <legend class="text-center">Login</legend>
            <div>
                <form class="px-4 py-3" action="/login/acessar" id="formLogin" method="post">
                    <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Usuário</label>
                        <input type="email" class="form-control" required id="Email" name="Email" placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Senha</label>
                        <input type="password" class="form-control" required id="Senha" name="Senha" placeholder="Senha">
                    </div>
                    <input type="submit" class="btn btn-primary col-lg-12" value="Acessar" />
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-center mb-4" href="../Funcionarios/Formulario">Cadastre-se</a>
            </div>
            @if (ViewData["UsuarioInvalido"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["UsuarioInvalido"]
                </div>
            }
        </section>
    </section>
</section>

