@model GerenciadorDePoliticasDeCompliance.Web.Models.Politicas.ListaViewModel



@foreach (var item in Model.Politicas)
{
    <div id="page-news">
        <div class="container">
            <article>

                <input type="hidden" value="@item.Id"/>
             
                <div class="title_tratamento">

                    <h2>
                        @Html.DisplayFor(modelitem => item.Titulo)
                    </h2>
                </div>





                <div class="container container-md">
                    <div class="body-article">
                        <p>
                            @Html.DisplayFor(modelitem => item.Texto)
                        </p>
                    </div>
                </div>

            </article>

        </div>
        <form class="px-4 py-3" method="post">
            <a asp-action="Index" class="btn btn-primary">Retornar</a>
            
 
            <a href="/Home/assinar/@item.Id" class="btn btn-primary">Assinar</a>
        </form>
    </div>  }