@model GerenciadorDePoliticasDeCompliance.Web.Models.Politicas.ListaViewModel;


@{
    ViewData["Title"] = "Políticas de Compiance da Wiz";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
 
        <table class="table table-striped table-hover">
            <thead>
                @if (Model.Politicas.Count() == 0)
                {
                    <h1>Não há politicas</h1>
                }
                else
                {
                    <tr class="bg-dark">
                        <th>
                            Título

                        </th>

                        <th>
                            Data
                        </th>
  <th>

  </th>
                        <th>
                            Politicas Assinadas
                        </th>
                    </tr>


                    @foreach (var item in Model.Politicas)
                    {

                        <tr>
                            <td>
                                <a href="/Home/Detalhes/@item.Id">
                                    @Html.DisplayFor(modelitem => item.Titulo)
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Data)
                            </td>
                      <th>

                      </th>
                    
                            <td>
                                <div class="form-check">
                                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                </div>
                            </td>

                        </tr>
                    }
                }
            </thead>
        </table>
    </div>
</div>

